<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <add name="Northwind" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\CS225\Websites\11_8_ch16_gridview_starter\App_Data\Northwind.mdf;Integrated Security=True" />
      <add name="Pubs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\CS225\Websites\11_8_ch16_gridview_starter\App_Data\Pubs.mdf;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>